# Игнорировать файлы с переменными окружения
.env

# Игнорировать кеш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

# Игнорировать виртуальное окружение
venv/
env/
ENV/

# Игнорировать директорию результатов
results/

# Игнорировать файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Игнорировать логи
*.log
logs/

# Игнорировать кешированные файлы Neo4j
.neo4j/

# Игнорировать файлы macOS
.DS_Store 

# Игнорировать файлов backup
backup/